<h1>Below form has been created dynamically</h1>
<div style="display: flex;padding:0 24px 24px 24px">
    <ng-container #controlPlaceholder></ng-container>
</div>
<!-- <div class="flex-container">
    <div>
        <app-input-box></app-input-box>
    </div>
    <div>
        <app-checkbox></app-checkbox>
    </div>
    <div>
        <app-slide-toggle></app-slide-toggle>
    </div>
    <div>
        <app-input-box></app-input-box>
    </div>
    <div>
        <app-checkbox></app-checkbox>
    </div>
    <div>
        <app-slide-toggle></app-slide-toggle>
    </div>
    <div>
        <app-input-box></app-input-box>
    </div>
    <div>
        <app-checkbox></app-checkbox>
    </div>
    <div>
        <app-slide-toggle></app-slide-toggle>
    </div>
</div> -->